.dashboard-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
}

.dashboard-content-container {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow: auto;
}

.dashboard-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashboard-content-header h2 {
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    font-size: xx-large;
    font-weight: 700;
}

.dashboard-content-search {
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.009em;
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    border: 1px solid gray;
}

.dashboard-content-search:focus {
    outline: #2D83B5 auto 1px;
}

.dashboard-content-input {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    border: 0px;
    box-sizing: content-box;
    background: none transparent;
    margin: 0px;
    display: block;
    min-width: 0px;
    width: 100%;
    color: #000000;
    font-size: 0.75rem;
    padding: 0.625rem;
}

table {
    width: 100%;
    margin: auto;
}

th {
    text-align: left;
    padding: 12px 24px;
    background: transparent;
    box-shadow: none;
    color: #2D83B5;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.035em;
    border-bottom: 0.05rem solid rgb(240, 242, 245);
}

tbody {
    display: table-row-group;
}

tr,
thead {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0px;
}

td {
    text-align: left;
    padding: 12px 24px;
    background: transparent;
    box-shadow: none;
    border-bottom: 0.05rem solid rgb(240, 242, 245);
}

td div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-content-avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
}

td span {
    margin: 0px;
    font-size: 0.75rem;
    line-height: 1.25;
    letter-spacing: 0.035em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: gray;
    font-weight: 700;
}

.dashboard-content-icon {
    width: 20px;
    margin-right: 10px;
}

.dashboard-content-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dashboard-content-footer .pagination {
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    background-color: #F0F2F5;
    cursor: pointer;
}

.dashboard-content-footer .active-pagination {
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #2D83B5;
    cursor: pointer;
}

.empty-table {
    margin: 0px;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.035em;
    color: gray;
    font-weight: 700;
    border-color: #FFFFFF;
}

.action_btn {
    background: none;
    color: #2D83B5;
    border: 1px solid #2D83B5;
    width: 3rem;
    border-radius: .2rem;
    transition: all .3s;
}

.action_btn:hover {
    background: #2D83B5;
    color: #fff;
}


.menu_icon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.dropmenu {
    position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.menu-link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-img img {
    width: 1.1rem;
    height: 1.1rem;
}

.dropmenu:hover .menu-content {
    display: block;
}

.select-option {    
    border: 1px solid #CCC;  
    width: 8.1rem;
    border-radius: .2rem;
}

.select-trans-status {
    width: 10rem;
    height: 2rem;
    padding: 0 .5rem 0 .5rem;
    outline: none;
    background: none;
    border: none;
}

.select-trans-status>option {
    width: 9rem;

}


.details {
    display: flex;
    flex-direction: column;
}


.order-detail {
    display: flex;
}

.img-sec {
    width: 30rem;
    height: 30rem;

}

.img-sec img {
    width: 100%;
    height: 100%;
}

.order_detail {
    display: flex;
    text-align: start;
    flex-direction: column;
    gap: .4rem;
    width: 40%;
}

.order_detail label {
    text-align: start;
}
.input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #CCC;
    background-image: none;
    width: 300px;
    
}
 .input:focus {
    /* outline-color: #54B4AD; */
    border-color: rgb(142, 172, 132)
}
.order_detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order_detail input {
    outline: none;
    border: none;
    width: 90%;
    height: 90%;
    font-size: 1rem;
}

.product-detail {
    display: flex;
    flex-direction: column;
}

.shiping-detail {
    gap: 2rem;
    width: 50%;
    display: flex;
    grid-template-columns: repeat(3fr, 100px);
    gap: 2rem;
}

.product-sec {
    display: flex;
    gap: 3rem;

}

.ship-detail,
.customer-detail {
    display: flex;
    flex-direction: column;
}

.sec {
    display: flex;
    margin-top: 1rem;
}

.order-title,
.ship-title {
    font-size: 2rem;
}

.card-detail {
    width: 25rem;
    height: 10rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1px solid #53b1dd;
    padding: 1rem;
    border-radius: .3rem;
    background: #f3f3f3;
}

.card-img {
    width: 5rem;
    height: 5rem;
}

.card-img img {
    width: 100%;
    height: 100%;
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.pagination ul {
    display: flex;
    gap: .1rem;
}

.pagination ul li {
    list-style: none;
    border: 1px solid #53b1dd;
    border-radius: .3rem;
    padding: .7rem;
    cursor: pointer;
}

.pagination ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: #5f93ac;
}

.active {
    background: #e4e1e1;

}

.loading {
    display: flex;
    align-items: center;
    align-content: center;
}
