.dashboard-container {
    display: flex;
    flex-direction: row;
}

.dashboard-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F0F2F5;
}

.completed {
    background-color: #4cb64cff;
    color: black;
}

.partially_completed {
    background: #28a328;
}

.rejected {
    background: #b94444;
    color: white;
}

.canceled {
    background: #e3503eff;
    color: white;
}

.pending {
    background: #1e91cfff;
    color: white;
}

.shipped {
    background: #1e91cfff;
}