.dashboard-container {
    display: flex;
    flex-direction: row;
}

.dashboard-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F0F2F5;
}

.completed {
    background-color: #BBB64C;
    color: black;
}

.partially_completed {
    background: #5BB7D4;
}

.rejected {
    background: #b94444;
    color: white;
}

.canceled {
    background: #E3503E;
    color: white;
}

.pending {
    background: #EFA637;
    color: white;
}

.shipped {
    background: #4891D0;
}

/* 
1. Pending  #EFA637
2. Processing partialyy completed #5BB7D4
3. Completed #BBB64C
4. cancelled #E3503E
5. shipped #4891D0 */