.dashboard-container {
    display: flex;
    flex-direction: row;
}

.dashboard-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F0F2F5;
}

.completed {
    background-color: #57B64C;
    color: black;
}

.partially_completed {
    background: #5BB7D4;
}

.rejected {
    background: #3e49e3;
    color: white;
}

.canceled {
    background: #E3D4D4;
    color: white;
}

.pending {
    background: #EFA637;
    color: white;
}

.shipped {
    background: #4891D0;
}

/* canceled #E3D4D4
 completed #57B64C
 pending   #EFA637
 partially completed #5BB7D4
 shipped  #4891D0
refunded #E3503E */